html
  head
    meta(charset='utf-8')
    title Genius
    link(rel='stylesheet', href='geniusestilos.css')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
  body(style="background-image:url('https://wallpaperhd.guru/wp-content/uploads/2017/05/Colorful-Wallpaper-HD-Pictures-download.jpg');")
    style(type='text/css').
      /* keyframes responsável pela animação dos itens de botão home;*/
      @keyframes flash {
      from,
      50%,
      to {
      opacity: 2;
      }
      25%,
      75% {
      opacity: 0;
      }
      }
      h1:hover{
      animation: flash 2s;
      }
    //
      <script>
      /* o for vai ter que retornar 450 quadrados*/
      for(let i = 0; i < 400; i++ ) {
      document.write(`<div class="quadrado">  </div>`)
      }
    h4 Genius
    a(href='jogar.html')
      h1.estilo1 Jogar
    a(href='comojogar.html')
      h2.estilo2 Ajuda
    a(href='sobre.html')
      h3.estilo3 Sobre
