html
  head
    meta(charset='utf-8')
    title Genius
    link(rel='stylesheet', href='geniusestilos.css')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
  body.container
    // <embed src="Alan Walker, Sabrina Carpenter  Farruko  - On My Way.mp3" width="0" height="0" hidden="true" loop="true" autostart="true" volume="75"></embed>
    style(type='text/css').
      h1{
      text-decoration: none;
      font-family: 'Dancing Script', cursive;
      position: absolute;
      top: 0%;
      left: 50%;
      transform: translate(-50%,-50%);
      font-size: 6em;
      color: #fff;
      animation: test 2.2s linear infinite;
      }
      @keyframes test{
      0%{
      color: red;
      text-shadow: 0 0 19px #FF0000;
      }
      25%{
      color: yellow;
      text-shadow: 0 0 19px yellow;
      }
      50%{
      color: blue;
      text-shadow: 0 0 19px blue;
      }
      75%{
      color: green;
      text-shadow: 0 0 19px green;
      }
      100%{
      color: #FF0000;
      text-shadow: 0 0 19px #FF0000;
      }
      }
      body{
      background-color:black;
      height: 100%;
      width: 100%;
      }
      h2{
      position: center;
      top: 44%;
      width: 27%;
      }
      a.top{
      text-decoration: none;
      font-size: 2em;
      font-family: 'Dancing Script', cursive;
      color: #D8BFD8;
      border: 8px solid white;
      border-radius: 15px;
      border-width: 8px;
      }
      div.circulo1{
      position: absolute;
      top: 30%;
      left: 10%;
      width: 15%;
      height: 30%;
      border-radius: 60%;
      background-color: red;
      }
      div.circulo2{
      position: absolute;
      top: 30%;
      left: 30%;
      width: 15%;
      height: 30%;
      border-radius: 60%;
      background-color: green;
      }
      div.circulo3{
      position: absolute;
      top: 30%;
      left: 50%;
      width: 15%;
      height: 30%;
      border-radius: 60%;
      background-color: blue;
      }
      div.circulo4{
      position: absolute;
      top: 30%;
      left: 70%;
      width: 15%;
      height: 30%;
      border-radius: 60%;
      background-color: yellow;
      }
      button{
      text-decoration: none;
      position: absolute;
      top: 80%;
      left: 50%
      }
    a.top(href='index.html') Voltar
    button Play
    .circulo1
    .circulo2
    .circulo3
    .circulo4
    h1 Genius
